body{
    background-color: lightcyan;
    width: 1000px;
    border: 10px solid white;
    padding: 120px;
    margin: 70px;
}

.header {
    display: flex;
   background-color: white;
   table-layout: fixed;
  
}
.header2 {
    display: flex;
    background-color: linen;
    table-layout: fixed;
    float: right;
         
    }
.links {
       margin-left: 70px;
       padding: 10px;
       color:crimson;
       font-weight: 800;
       position: relative;
       z-index: 1;
       border: 2px solid black;
       height: 70px;
       margin: 30px;
}
    
.links a {
        text-decoration: none;
        color: darkblue;
        
       
}

.links a:hover{
    color:darkblue;
    font-size: 20px;
    box-decoration-break:crimson;
}
.header3{
    padding: 5px;
    display: flex;
    background-color: whitesmoke;
    table-layout: fixed;
}
.part3{
    padding-top: 100px;
}
